<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('View Single Post')"></head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <h1>This show 1 posts page</h1>
            <h1 th:text="${post.title}"></h1>
            <p th:text="${post.body}"></p>
            <p>Created by: <span th:text="${post.user.username}"></span></p>
            <p>User's email: <span th:text="${post.user.email}"></span></p>
    </div>
</body>
</html>